.ywz_zhuce_hongxian {
	float: left;
	background: #d6d3d3;
	width: 85px;
	height: 20px;
	margin-top: 5px;
	_margin-top: 0px;
	margin-left: 1px;
	_height: 2px;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	color: #FFF;
	background-color: red;
}

.ywz_zhuce_hongxian2 {
	float: left;
	background: #d6d3d3;
	width: 85px;
	height: 20px;
	margin-top: 5px;
	_margin-top: 0px;
	margin-left: 1px;
	_height: 2px;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	color: #FFF;
	background-color: red;
}

.ywz_zhuce_hongxian3 {
	float: left;
	background: #d6d3d3;
	width: 85px;
	height: 20px;
	margin-top: 5px;
	_margin-top: 0px;
	margin-left: 1px;
	_height: 2px;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	color: #FFF;
	background-color: red;
}

.ywz_zhuce_xiaoxiaobao {
	width: 450px;
	height: 20px;
	margin-bottom: 10px;
	position: relative;
	top: -15px;
}

.ywz_zhuce_huixian {
	float: left;
	background: #d6d3d3;
	width: 85px;
	height: 20px;
	margin-top: 5px;
	_margin-top: 0px;
	margin-left: 1px;
	_height: 2px;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	color: #FFF;
}